# Model configuration
# this is the basic changed version towards HMT
# using pos_HMT to replace relu 
model_name: resnet34            # Model class name
# load_name: "./output/threshold_resnet18.pth"
# load_name: "./output/threshold_resnet18_neuron.pth"
load_name: "./output/threshold_resnet34_channel.pth"
# load_name: "./output/threshold_resnet18_channel_999.pth"
# load_name: "./output/threshold_resnet18_channel.pth"

# load_name: "./output/threshold_resnet18_neuron_999.pth"
# load_name: "./output/threshold_resnet18_999.pth"

# load_name: "checkpoint.pth"
# model_name: resnet34            # Model class name
# load_name: "../models/qe-conversion/resnet34/resnet34_imagenet.pth"
# model_name: vgg16_bn
# load_name: "../models/qe-conversion/vgg16/vgg16_bn_imagenet.pth"

# mode: test_ann
mode: test_snn                  # Operation mode: test_ann, get_threshold, test_snn, train_snn
sop: True
save_name: xxx           # Name for saving the model

# Threshold configuration
# threshold_mode: "99.9%"         # Threshold mode for SNN neurons
threshold_mode: "var"         # Threshold mode for SNN neurons
# threshold_level: "neuron"
# threshold_level: "channel"
# threshold_level: "layer"
fx: False

# Neuron configuration
neuron_name: pos_H_MT_version_1        # Neuron model: IF, IF_with_neg, LIF, MTH
# neuron_name: MTH_with_neg        # Neuron model: IF, IF_with_neg, LIF, MTH
num_thresholds : 3
step_mode: 'm'
coding_type: rate               # Coding type: rate or leaky_rate or diff
# coding_type: rate               # Coding type: rate or leaky_rate or diff
fuse: False

# neuron_name_identity
neuron_name_identity: H_MT_version_1_no_commu
# identity_change
identity_change: "True"


# Task configuration
task: classification            # Task type: classification or others

# Dataset configuration
dataset: imagenet               # Dataset name
dataset_path: "../data"         # Path to the dataset
batchsize: 50                  # Batch size for training or testing

# Device configuration
device: "0"                     # CUDA device ID (e.g., 0 for single GPU)
distributed: false              # Enable distributed training (true or false)

# Logger configuration
logger: false                    # Enable logging
logger_path: "logs/log.txt"     # Path to save logs

# Training and Testing configuration
seed: 2024                      # Random seed for reproducibility
time: 16                         # SNN simulation time (0 for default behavior)

#批次： 999  最终准确率： 76.296
# 平均准确率: 28.548, 60.418, 69.874, 73.982, 75.268, 75.824, 75.996, 76.104, 76.138, 76.194, 76.218, 76.252, 76.276, 76.27, 76.288, 76.296
# 瞬时发射率: 0.4526, 0.4697, 0.3939, 0.3468, 0.2813, 0.2168, 0.1595, 0.1173, 0.1001, 0.0857, 0.0794, 0.067, 0.0636, 0.0562, 0.0556, 0.0503
# 平均发射率: 0.4526, 0.4611, 0.4387, 0.4157, 0.3888, 0.3602, 0.3315, 0.3047, 0.282, 0.2624, 0.2457, 0.2308, 0.218, 0.2064, 0.1964, 0.1872
# 总能耗: 0.0885, 0.1804, 0.2575, 0.3254, 0.3804, 0.4228, 0.454, 0.477, 0.4966, 0.5133, 0.5289, 0.542, 0.5544, 0.5654, 0.5763, 0.5861


# 批次： 999  最终准确率： 76.292
# 平均准确率: 28.548, 60.4, 69.838, 73.95, 75.272, 75.836, 76.028, 76.114, 76.164, 76.234, 76.278, 76.288, 76.29, 76.292, 76.3, 76.292
# 瞬时发射率: 0.4526, 0.4713, 0.4141, 0.4009, 0.3593, 0.3094, 0.2564, 0.2063, 0.1712, 0.1575, 0.1443, 0.1243, 0.119, 0.1099, 0.1037, 0.1043
# 平均发射率: 0.4526, 0.462, 0.446, 0.4347, 0.4196, 0.4013, 0.3806, 0.3588, 0.3379, 0.3199, 0.3039, 0.289, 0.2759, 0.264, 0.2533, 0.244
# 总能耗: 0.0885, 0.1808, 0.2618, 0.3402, 0.4105, 0.4711, 0.5212, 0.5616, 0.5951, 0.6259, 0.6541, 0.6784, 0.7017, 0.7232, 0.7435, 0.763

#实测 num_thresholds : 4
#批次： 999  最终准确率： 74.296
#平均准确率: 66.56, 70.58, 72.366, 73.25, 73.776, 74.016, 74.152, 74.294, 74.39, 74.416, 74.42, 74.37, 74.364, 74.326, 74.306, 74.296
#瞬时发射率: 0.3758, 0.3569, 0.3513, 0.3503, 0.3496, 0.3494, 0.3495, 0.3495, 0.3494, 0.3495, 0.3496, 0.3496, 0.3496, 0.3497, 0.3497, 0.3497
#平均发射率: 0.3758, 0.3664, 0.3614, 0.3586, 0.3568, 0.3556, 0.3547, 0.354, 0.3535, 0.3531, 0.3528, 0.3525, 0.3523, 0.3521, 0.352, 0.3518
#总能耗: 0.0735, 0.1434, 0.2121, 0.2806, 0.349, 0.4174, 0.4858, 0.5541, 0.6225, 0.6909, 0.7593, 0.8277, 0.8961, 0.9645, 1.0329, 1.1014

#实测 num_thresholds : 3
#批次： 999  最终准确率： 70.112
#平均准确率: 57.132, 62.71, 65.65, 67.268, 68.266, 68.864, 69.322, 69.63, 69.794, 69.936, 70.088, 70.132, 70.14, 70.156, 70.158, 70.112
#瞬时发射率: 0.3676, 0.3472, 0.3405, 0.3383, 0.3377, 0.3373, 0.3373, 0.3377, 0.3376, 0.3377, 0.3373, 0.3379, 0.3374, 0.3379, 0.3379, 0.3378
#平均发射率: 0.3676, 0.3574, 0.3518, 0.3484, 0.3462, 0.3448, 0.3437, 0.3429, 0.3423, 0.3419, 0.3415, 0.3412, 0.3409, 0.3407, 0.3405, 0.3403
#总能耗: 0.0719, 0.1398, 0.2065, 0.2727, 0.3387, 0.4047, 0.4707, 0.5368, 0.6028, 0.6689, 0.7349, 0.801, 0.867, 0.9331, 0.9992, 1.0653

#实测 num_thresholds : 6
#批次： 999  最终准确率： 74.976
#平均准确率: 67.284, 71.342, 73.064, 73.872, 74.36, 74.624, 74.826, 74.97, 75.036, 75.102, 75.112, 75.064, 75.066, 75.06, 75.004, 74.976
#瞬时发射率: 0.375, 0.356, 0.3505, 0.3495, 0.3487, 0.3485, 0.3486, 0.3486, 0.3486, 0.3486, 0.3487, 0.3487, 0.3488, 0.3488, 0.3488, 0.3489
#平均发射率: 0.375, 0.3655, 0.3605, 0.3577, 0.3559, 0.3547, 0.3538, 0.3532, 0.3527, 0.3523, 0.3519, 0.3517, 0.3514, 0.3513, 0.3511, 0.351
#总能耗: 0.0734, 0.143, 0.2116, 0.28, 0.3482, 0.4164, 0.4846, 0.5528, 0.621, 0.6892, 0.7574, 0.8256, 0.8939, 0.9621, 1.0304, 1.0986