# Model configuration
model_name: resnet34            # Model class name
# load_name: "./output/threshold_resnet18.pth"
# load_name: "./output/threshold_resnet18_neuron.pth"
load_name: "./output/threshold_resnet34_channel.pth"
# load_name: "./output/threshold_resnet18_channel_999.pth"
# load_name: "./output/threshold_resnet18_channel.pth"

# load_name: "./output/threshold_resnet18_neuron_999.pth"
# load_name: "./output/threshold_resnet18_999.pth"

# load_name: "checkpoint.pth"
# model_name: resnet34            # Model class name
# load_name: "../models/qe-conversion/resnet34/resnet34_imagenet.pth"
# model_name: vgg16_bn
# load_name: "../models/qe-conversion/vgg16/vgg16_bn_imagenet.pth"

# mode: test_ann
mode: test_snn                  # Operation mode: test_ann, get_threshold, test_snn, train_snn
sop: True
save_name: ./output/threshold_resnet34_channel           # Name for saving the model

# Threshold configuration
# threshold_mode: "99.9%"         # Threshold mode for SNN neurons
threshold_mode: "var"         # Threshold mode for SNN neurons
# threshold_level: "neuron"
# threshold_level: "channel"
# threshold_level: "layer"
fx: False
threshold_scale: 1.0

# Neuron configuration
neuron_name: MTH_with_neg        # Neuron model: IF, IF_with_neg, LIF, MTH
# neuron_name: MTH_with_neg        # Neuron model: IF, IF_with_neg, LIF, MTH
num_thresholds : 4
step_mode: 'm'
coding_type: rate               # Coding type: rate or leaky_rate or diff
# coding_type: rate               # Coding type: rate or leaky_rate or diff
fuse: False

# Task configuration
task: classification            # Task type: classification or others

# Dataset configuration
dataset: imagenet               # Dataset name
dataset_path: "../data"         # Path to the dataset
batchsize: 50                  # Batch size for training or testing

# Device configuration
device: "0"                     # CUDA device ID (e.g., 0 for single GPU)
distributed: false              # Enable distributed training (true or false)

# Logger configuration
logger: false                    # Enable logging
logger_path: "logs/log.txt"     # Path to save logs

# Training and Testing configuration
seed: 2024                      # Random seed for reproducibility
#time: 2 #
time: 4 #  70.764
#time: 8 #
#time: 16 #                       # SNN simulation time (0 for default behavior)

#批次： 999  最终准确率： 76.296
# 平均准确率: 28.548, 60.418, 69.874, 73.982, 75.268, 75.824, 75.996, 76.104, 76.138, 76.194, 76.218, 76.252, 76.276, 76.27, 76.288, 76.296
# 瞬时发射率: 0.4526, 0.4697, 0.3939, 0.3468, 0.2813, 0.2168, 0.1595, 0.1173, 0.1001, 0.0857, 0.0794, 0.067, 0.0636, 0.0562, 0.0556, 0.0503
# 平均发射率: 0.4526, 0.4611, 0.4387, 0.4157, 0.3888, 0.3602, 0.3315, 0.3047, 0.282, 0.2624, 0.2457, 0.2308, 0.218, 0.2064, 0.1964, 0.1872
# 总能耗: 0.0885, 0.1804, 0.2575, 0.3254, 0.3804, 0.4228, 0.454, 0.477, 0.4966, 0.5133, 0.5289, 0.542, 0.5544, 0.5654, 0.5763, 0.5861


# 批次： 999  最终准确率： 76.292
# 平均准确率: 28.548, 60.4, 69.838, 73.95, 75.272, 75.836, 76.028, 76.114, 76.164, 76.234, 76.278, 76.288, 76.29, 76.292, 76.3, 76.292
# 瞬时发射率: 0.4526, 0.4713, 0.4141, 0.4009, 0.3593, 0.3094, 0.2564, 0.2063, 0.1712, 0.1575, 0.1443, 0.1243, 0.119, 0.1099, 0.1037, 0.1043
# 平均发射率: 0.4526, 0.462, 0.446, 0.4347, 0.4196, 0.4013, 0.3806, 0.3588, 0.3379, 0.3199, 0.3039, 0.289, 0.2759, 0.264, 0.2533, 0.244
# 总能耗: 0.0885, 0.1808, 0.2618, 0.3402, 0.4105, 0.4711, 0.5212, 0.5616, 0.5951, 0.6259, 0.6541, 0.6784, 0.7017, 0.7232, 0.7435, 0.763

# 实测
# 批次： 999  最终准确率： 71.04
# 用时约40分钟
# 平均准确率: 0.1, 0.106, 0.192, 0.304, 0.712, 1.904, 5.296, 11.02, 18.172, 25.402, 32.012, 37.814, 42.7, 46.852, 50.14, 52.86, 55.188, 57.29, 58.928, 60.286, 61.504, 62.598, 63.544, 64.284, 64.992, 65.59, 66.192, 66.702, 67.15, 67.474, 67.806, 68.074, 68.354, 68.54, 68.73, 68.94, 69.078, 69.24, 69.412, 69.542, 69.65, 69.784, 69.894, 69.958, 70.048, 70.13, 70.236, 70.336, 70.404, 70.464, 70.532, 70.59, 70.646, 70.698, 70.728, 70.766, 70.782, 70.822, 70.85, 70.882, 70.916, 70.958, 70.99, 71.04
# 瞬时发射率: 0.0828, 0.1355, 0.1643, 0.1768, 0.182, 0.1862, 0.1873, 0.1882, 0.1889, 0.1889, 0.1885, 0.1883, 0.1878, 0.1868, 0.1856, 0.1851, 0.1843, 0.1839, 0.1832, 0.1824, 0.1821, 0.1816, 0.1811, 0.1807, 0.1804, 0.1801, 0.1798, 0.1795, 0.1793, 0.179, 0.1788, 0.1786, 0.1785, 0.1782, 0.178, 0.178, 0.1779, 0.1777, 0.1775, 0.1774, 0.1773, 0.1772, 0.1771, 0.177, 0.177, 0.1769, 0.1769, 0.1768, 0.1767, 0.1766, 0.1766, 0.1766, 0.1765, 0.1764, 0.1764, 0.1764, 0.1763, 0.1762, 0.1762, 0.1762, 0.1762, 0.1762, 0.1761, 0.1761
# 平均发射率: 0.0828, 0.1091, 0.1275, 0.1398, 0.1483, 0.1546, 0.1593, 0.1629, 0.1658, 0.1681, 0.1699, 0.1715, 0.1727, 0.1737, 0.1745, 0.1752, 0.1757, 0.1762, 0.1765, 0.1768, 0.1771, 0.1773, 0.1775, 0.1776, 0.1777, 0.1778, 0.1779, 0.1779, 0.178, 0.178, 0.178, 0.1781, 0.1781, 0.1781, 0.1781, 0.1781, 0.1781, 0.1781, 0.178, 0.178, 0.178, 0.178, 0.178, 0.1779, 0.1779, 0.1779, 0.1779, 0.1779, 0.1778, 0.1778, 0.1778, 0.1778, 0.1777, 0.1777, 0.1777, 0.1777, 0.1776, 0.1776, 0.1776, 0.1776, 0.1775, 0.1775, 0.1775, 0.1775
# 总能耗: 0.0162, 0.0427, 0.0749, 0.1094, 0.1451, 0.1815, 0.2181, 0.255, 0.2919, 0.3289, 0.3657, 0.4026, 0.4393, 0.4759, 0.5122, 0.5484, 0.5845, 0.6205, 0.6563, 0.692, 0.7276, 0.7631, 0.7986, 0.8339, 0.8692, 0.9044, 0.9396, 0.9747, 1.0098, 1.0448, 1.0798, 1.1148, 1.1497, 1.1845, 1.2194, 1.2542, 1.289, 1.3238, 1.3585, 1.3932, 1.4279, 1.4625, 1.4972, 1.5318, 1.5664, 1.6011, 1.6357, 1.6703, 1.7048, 1.7394, 1.7739, 1.8085, 1.843, 1.8775, 1.912, 1.9465, 1.981, 2.0155, 2.05, 2.0845, 2.1189, 2.1534, 2.1879, 2.2223