# Model configuration
model_name: resnet34            # Model class name
# load_name: "./output/threshold_resnet18.pth"
# load_name: "./output/threshold_resnet18_neuron.pth"
load_name: "./output/threshold_resnet34_channel.pth"
# load_name: "./output/threshold_resnet18_channel_999.pth"
# load_name: "./output/threshold_resnet18_channel.pth"

# load_name: "./output/threshold_resnet18_neuron_999.pth"
# load_name: "./output/threshold_resnet18_999.pth"

# load_name: "checkpoint.pth"
# model_name: resnet34            # Model class name
# load_name: "../models/qe-conversion/resnet34/resnet34_imagenet.pth"
# model_name: vgg16_bn
# load_name: "../models/qe-conversion/vgg16/vgg16_bn_imagenet.pth"

# mode: test_ann
mode: test_snn                  # Operation mode: test_ann, get_threshold, test_snn, train_snn
sop: True
save_name: ./output/threshold_resnet34_channel           # Name for saving the model

# Threshold configuration
# threshold_mode: "99.9%"         # Threshold mode for SNN neurons
threshold_mode: "var"         # Threshold mode for SNN neurons
# threshold_level: "neuron"
# threshold_level: "channel"
# threshold_level: "layer"
fx: False
threshold_scale: 1.0

# Neuron configuration
neuron_name: MTH_diff        # Neuron model: IF, IF_with_neg, LIF, MTH
# neuron_name: MTH_with_neg        # Neuron model: IF, IF_with_neg, LIF, MTH
num_thresholds : 4
step_mode: 'm'
coding_type: diff_rate               # Coding type: rate or leaky_rate or diff
# coding_type: rate               # Coding type: rate or leaky_rate or diff
fuse: False

# Task configuration
task: classification            # Task type: classification or others

# Dataset configuration
dataset: imagenet               # Dataset name
dataset_path: "../data"         # Path to the dataset
batchsize: 50                  # Batch size for training or testing

# Device configuration
device: "0"                     # CUDA device ID (e.g., 0 for single GPU)
distributed: false              # Enable distributed training (true or false)

# Logger configuration
logger: false                    # Enable logging
logger_path: "logs/log.txt"     # Path to save logs

# Training and Testing configuration
seed: 2024                      # Random seed for reproducibility
time: 16                        # SNN simulation time (0 for default behavior)

#批次： 999  最终准确率： 76.296
# 平均准确率: 28.548, 60.418, 69.874, 73.982, 75.268, 75.824, 75.996, 76.104, 76.138, 76.194, 76.218, 76.252, 76.276, 76.27, 76.288, 76.296
# 瞬时发射率: 0.4526, 0.4697, 0.3939, 0.3468, 0.2813, 0.2168, 0.1595, 0.1173, 0.1001, 0.0857, 0.0794, 0.067, 0.0636, 0.0562, 0.0556, 0.0503
# 平均发射率: 0.4526, 0.4611, 0.4387, 0.4157, 0.3888, 0.3602, 0.3315, 0.3047, 0.282, 0.2624, 0.2457, 0.2308, 0.218, 0.2064, 0.1964, 0.1872
# 总能耗: 0.0885, 0.1804, 0.2575, 0.3254, 0.3804, 0.4228, 0.454, 0.477, 0.4966, 0.5133, 0.5289, 0.542, 0.5544, 0.5654, 0.5763, 0.5861


# 批次： 999  最终准确率： 76.292
# 平均准确率: 28.548, 60.4, 69.838, 73.95, 75.272, 75.836, 76.028, 76.114, 76.164, 76.234, 76.278, 76.288, 76.29, 76.292, 76.3, 76.292
# 瞬时发射率: 0.4526, 0.4713, 0.4141, 0.4009, 0.3593, 0.3094, 0.2564, 0.2063, 0.1712, 0.1575, 0.1443, 0.1243, 0.119, 0.1099, 0.1037, 0.1043
# 平均发射率: 0.4526, 0.462, 0.446, 0.4347, 0.4196, 0.4013, 0.3806, 0.3588, 0.3379, 0.3199, 0.3039, 0.289, 0.2759, 0.264, 0.2533, 0.244
# 总能耗: 0.0885, 0.1808, 0.2618, 0.3402, 0.4105, 0.4711, 0.5212, 0.5616, 0.5951, 0.6259, 0.6541, 0.6784, 0.7017, 0.7232, 0.7435, 0.763

# 实测：num_thresholds : 4
# 非常非常非常慢！因为一开始是time: 64，总耗时1:46:xx，改成16以后预计用时就是27:xx了，也就是说diff encoding又加了一倍的计算量
#批次： 999  最终准确率： 76.402
#平均准确率: 31.5, 59.644, 69.336, 73.374, 74.914, 75.488, 75.89, 76.052, 76.166, 76.206, 76.194, 76.232, 76.254, 76.312, 76.358, 76.354, 76.352, 76.366, 76.368, 76.386, 76.392, 76.382, 76.378, 76.388, 76.37, 76.372, 76.374, 76.38, 76.376, 76.374, 76.368, 76.358, 76.358, 76.362, 76.364, 76.364, 76.37, 76.376, 76.38, 76.382, 76.388, 76.394, 76.382, 76.376, 76.374, 76.378, 76.386, 76.398, 76.398, 76.402, 76.396, 76.404, 76.406, 76.418, 76.422, 76.416, 76.416, 76.418, 76.404, 76.404, 76.402, 76.404, 76.392, 76.402
#瞬时发射率: 0.3706, 0.3432, 0.2744, 0.2409, 0.1883, 0.1695, 0.1561, 0.1395, 0.1217, 0.1174, 0.109, 0.1086, 0.1102, 0.0948, 0.0895, 0.0896, 0.085, 0.0826, 0.0825, 0.0807, 0.0777, 0.0776, 0.0752, 0.0726, 0.0735, 0.0708, 0.0684, 0.0687, 0.067, 0.0662, 0.067, 0.0651, 0.0628, 0.0632, 0.0622, 0.0613, 0.0615, 0.0604, 0.059, 0.06, 0.0589, 0.0592, 0.069, 0.0541, 0.0527, 0.0514, 0.0501, 0.0477, 0.049, 0.0478, 0.0461, 0.0474, 0.0458, 0.0444, 0.0449, 0.0437, 0.0428, 0.0433, 0.0425, 0.0422, 0.0422, 0.0407, 0.04, 0.0402
#平均发射率: 0.3706, 0.3569, 0.3294, 0.3073, 0.2835, 0.2645, 0.249, 0.2353, 0.2227, 0.2122, 0.2028, 0.1949, 0.1884, 0.1817, 0.1756, 0.1702, 0.1652, 0.1606, 0.1565, 0.1527, 0.1491, 0.1459, 0.1428, 0.1399, 0.1372, 0.1347, 0.1322, 0.13, 0.1278, 0.1257, 0.1238, 0.122, 0.1202, 0.1185, 0.1169, 0.1154, 0.1139, 0.1125, 0.1111, 0.1099, 0.1086, 0.1074, 0.1065, 0.1054, 0.1042, 0.103, 0.1019, 0.1008, 0.0997, 0.0987, 0.0977, 0.0967, 0.0957, 0.0948, 0.0939, 0.093, 0.0921, 0.0913, 0.0904, 0.0896, 0.0888, 0.0881, 0.0873, 0.0866
#总能耗: 0.0725, 0.1396, 0.1933, 0.2405, 0.2773, 0.3105, 0.341, 0.3683, 0.3921, 0.4151, 0.4364, 0.4577, 0.4793, 0.4978, 0.5153, 0.5329, 0.5495, 0.5657, 0.5818, 0.5976, 0.6128, 0.628, 0.6427, 0.6569, 0.6713, 0.6851, 0.6985, 0.712, 0.7251, 0.738, 0.7511, 0.7638, 0.7761, 0.7885, 0.8007, 0.8127, 0.8247, 0.8365, 0.848, 0.8598, 0.8713, 0.8829, 0.8964, 0.907, 0.9173, 0.9273, 0.9371, 0.9465, 0.956, 0.9654, 0.9744, 0.9837, 0.9927, 1.0013, 1.0101, 1.0187, 1.027, 1.0355, 1.0438, 1.0521, 1.0603, 1.0683, 1.0761, 1.084

# 改time为16
#批次： 999  最终准确率： 76.354
#平均准确率: 31.656, 59.708, 69.214, 73.374, 74.898, 75.526, 75.782, 75.988, 76.112, 76.158, 76.182, 76.204, 76.224, 76.27, 76.328, 76.354
#瞬时发射率: 0.3706, 0.3432, 0.2745, 0.2409, 0.1884, 0.1696, 0.1562, 0.1395, 0.1217, 0.1174, 0.109, 0.1086, 0.1104, 0.0948, 0.0895, 0.0895
#平均发射率: 0.3706, 0.3569, 0.3294, 0.3073, 0.2835, 0.2645, 0.2491, 0.2354, 0.2227, 0.2122, 0.2028, 0.195, 0.1885, 0.1818, 0.1756, 0.1702
#总能耗: 0.0725, 0.1397, 0.1934, 0.2405, 0.2774, 0.3105, 0.3411, 0.3684, 0.3922, 0.4152, 0.4365, 0.4577, 0.4793, 0.4979, 0.5154, 0.5329